@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

.projects-container {
  @apply p-15;
}

.projects-grid {
  @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-8;
}

.project-card {
  @apply bg-gray-800 rounded-4xl shadow-lg overflow-hidden opacity-0;
  animation: fadeIn 1s var(--delay) forwards ease-in-out;
}

.project-image {
  @apply w-full h-48 transform transition-transform border-b-2 border-red-700/50;
}

.project-card:hover .project-image {
  @apply scale-105;
}

.project-details {
  @apply p-4;
}

.project-title {
  @apply text-base font-bold text-white hover:underline;
}

.project-description {
  @apply text-gray-300;
}

.tech-used {
  @apply flex flex-wrap mt-4 gap-1;
}

.tech-badge {
  @apply flex items-center bg-gray-700 text-white rounded-full px-3 py-1 mr-2 mb-1 space-x-1;
}

.tech-badge:hover {
    @apply bg-red-600 scale-120 transition-all duration-300;
}
