@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import "tailwindcss";
@import "./App.css";
@import "./components/NavBar.css";
@import "./components/Slider.css";
@import "./components/SkillsRow.css";
@import "./components/SkillsGrid.css";
@import "./pages/Skills.css";
@import "./components/ProjectCard.css";
@import "./components/ContactRecommend.css";
@import "./pages/Home.css";

html, body ,#root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
